<%= simple_form_for [@project, @drawing] do |f| %>
  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :series %>
  <%= f.input :revision %>
  <%= f.input :attachment %>
  <%= f.input :is_part %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_drawings_path, :class => 'btn' %>
  </div>
<% end %>
